*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: "Inter", sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #2e2539;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #1D1825;
    max-width: 583px;
    width: 90%;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1, h2 {
    color: #FFFFFF;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #15101C;
    color: #9E78CF;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
    cursor: pointer; 
}
.user-info {
    color: #CDA4E1; 
    margin-left: 10px; 
}
.green-checkbox {
    accent-color: #4CAF50; 
}

.usernameLink {
    color: #CDA4E1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.usernameLink:hover {
    color: #A56C9E;
    text-decoration: underline;
}
